.status {
  margin-bottom: 24px;
  font-size: 24px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game li {
  line-height: 2;
}

.game li button{
  background: none;
  border: none;
  cursor: pointer;
  
}
