nav {
	background: #3f51b5;
	padding: 0 20px;
	width: 100%;
	height: 80px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.logo h1 {
	color: #fff;
    margin-top: 16px;
}

nav .nav-items {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.nav-items ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-items ul li {
	list-style: none;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.nav-items ul li a {
	color: #fff;
}

.nav-items ul li a:hover {
	color: #F7C04A;
}

.nav-items ul li a.active {
	color: #F7C04A;
}